@media only screen and (min-width: 700px) {
    body {
        display: flex;
        background-color: lightblue;
        gap: 30px;
    }
  }
  
html {
    font-family: Tahoma, sans-serif;
}

body {
    background-color: #fff3da;
}

code, pre {
    font-family: 'Nova Mono', monospace;
}

section {
    padding: 30px;
    margin: 30px;
    background-color: #dfccfb;
    border-radius: 30px;
    box-shadow: 10px 10px #beadfa;
}

.nav {
    padding: 30px;
    margin: 10px;
    background-color: #dfccfb;
    border-radius: 30px;
    box-shadow: 10px 10px #beadfa;
}























