@media only screen and (max-width: 750px) {
    body {
        background-color: lightblue;
    }

    /*I want to hide the nav-bar, 
        place a three horizontal lines icon
        to access it,
        and make the section take the whole
        space, when the screen is small.*/
    /*also, make it responsive*/

    aside {
        display: none;
        
    }

    section {
        width: 100%;
    }
}

:root {
    --stop: calc(100% / 11 * var(--i));
    --box: hsl(300, 100%, 90%);
    --shadow: hsl(295, 38%, 45%);
    --c2: hsl(295, 38%, 62%);
    --c3: hsl(295, 38%, 88%);
}

body {
    box-sizing: border-box;
    margin: 0;
    background-color: #fff3da;
    font-family: monospace, sans-serif;
    overflow-x: hidden;
}

code,
pre {
    font-family: 'Nova Mono', monospace;

}

header {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: -10px;
    margin: 0;
    text-align: center;
    z-index: 1;
}

section {
    /*why does it have so much space on top?
    and why does it collapse into aside?*/
    position: relative;
    left: 15rem;
    right: 0;
    top: 7em;
    width: 70vw;
    margin: 2rem 2rem;
    padding: 2rem 1rem 1rem;
}

section:last-of-type{
    margin-bottom: 10em;
}

/*
section::before {
    content: '';
    display: block;
    width: 100%;
    height: 1rem;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    background: linear-gradient(to right, var(--c2) var(--stop), var(--c3) var(--stop));
}  Trying to make a bar above the sections showing the % you're into the reading    */

aside {
    width: 25%;
    height: auto;
    min-width: 250px;
    max-width: 250px;
    position: fixed;
    margin: 30px 10px 10px 10px;
}

header,
section,
aside {
    background-color: var(--box);
    box-shadow: 10px 10px var(--shadow);
}

section, aside {
    overflow: auto;
    top: 7em;
}

section,
aside p {
    padding: 1.2em;
    text-align: justify;
}

li {
    line-height: 1.5em
}

li>a:link {
    text-decoration: none;
    color: #330033;
}

li>a:hover {
    text-decoration: underline;
}

footer{
    position: relative;
    float: right;
    bottom: 2em;
    right: 1em;
    margin: auto;
    height: 30px;   
}

/*I can't make it fit...
fieldset{
    max-width: max-content;
    margin-left: 0;
    margin-right: 0;
    padding: 0;  
}
 ...That's what she said!*/